.App-content {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_task-input {
    position: relative;
    // background-color: aqua;
    display: flex;
    width: 100%;

    & input {
      height: 50px;
      padding-left: 43px;
      border-radius: 8px;
      width: 100%;
      border-style: none;
      // margin-bottom: ;
    }
    & i {
      position: absolute;
      align-self: center;
      padding-left: 14px;
      transform: scale(1.3);
      // border-style: none;
      // top: 0;
      // bottom: 5px;
      // margin-top: auto;
      // margin-bottom: auto;
    }
  }

  &_task-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    // background-color: $primary-font-color;
    // background-color: green;
    // color: red;
    width: 100%;

    &_item {
      height: 50px;
      background-color: $primary-font-color;
      display: flex;
      // gap: ;
      // margin-top: 20px;
      // border: solid 5px red;
      align-items: center;
      // justify-content: space-between;
      // width: 100%;
      // color: brown;

      & span i {
        transform: scale(1.3);
        // color: ;
      }

      &_para {
        // color: red;
        // width: 80%;
        // padding-right: ;
        margin-left: 20px;
      }

      &_cross {
        // display: flex;
        // text-align: end;
        // color: green;
        // margin-right: 0px;
        margin-right: 15px;
        margin-left: auto;

        & i {
          // justify-self: end;
          // transform: scale(1.3);
        }
      }
    }
  }
}

.fa-check-circle {
  padding-left: 14px;
}

.temproary {
  background-color: #eeeeee;
  height: 1100px;
  // width: 100%;
}

#first {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#last {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
